<div class="h-screen flex items-center justify-center">
    <form class="shadow-md rounded-md p-5 bg-white w-1/6">
        <div class="py-4">
            <h1 class="font-bold py-2">
                Login
            </h1>
            <h6 class="text-slate-600 text-base">
                Login to your account
            </h6>
        </div>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" />
            <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" />
            <mat-icon matPrefix>lock</mat-icon>
            <mat-icon matSuffix>
                visibility
            </mat-icon>
        </mat-form-field>
    </form>
</div>